@charset "utf-8";
/**progress bar**/
#progressbar
{
    width: 400px;
	background: #eee;
	padding: 3px;
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.2);
}
#indicator
{
    height: 20px;
	display: block;
	background: cornflowerblue;
	border-radius: 3px;
	-webkit-transition: width 0.2s ease;
	transition: width 0.2s ease;
}
/**progress bar**/
/**login register... form**/
.register-form
{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: #fff;
	background : #c4c4c4;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.register-form form input
{
	padding: 5px;
}
.register-form .btn
{
	background: #726E6E;
	padding: 7px;
	border-radius: 5px;
	text-decoration: none;
	width: 50px;
	display: inline-block;
	color: #FFF;
}

.register-form .register
{
	border: 0;
	width: 60px;
	padding: 8px;
}
/**login register... form**/
/**Menu déroulant**/
#menu-deroulant, #menu-deroulant ul 
{
	top:166px;
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant 
{
    background-color: #B09F91;
	text-align: center;
	box-shadow: 8px 8px 16px black;
}
#menu-deroulant li 
{
    display: inline-block;
	width:150px;
	height:38px;
	text-align:center;
}
#menu-deroulant ul li 
{
    display: inherit;
}
#menu-deroulant a 
{
    text-decoration: none;
    display: block;
	color:#000;
	font-size: 24px;
}
#menu-deroulant ul 
{
	z-index: 2;
    position: absolute;
    left: -999em;
    text-align: left;
	background-color: #B09F91;
}
#menu-deroulant li:hover ul 
{
    left: auto;
}
#menu-deroulant a:hover
{
	text-shadow: 4px 4px 8px black;
}
/**Fin menu déroulant**/
/**Debut Header**/
.header
{
	height: 120px;
	background-color: #4E3D28;
}
.logo
{
	width: 300px;
	position: absolute;
	top: 11px;
	left: 11px;
}
.login
{
	min-width: 236px;
	text-align: right;
	position: absolute;
	top: 32px;
	right: 80px;
}
.login a
{
	color: #F6E8B1;
}
/**Fin header**/
/**Debut profil**/
.profil
{
	position: absolute;
	height: 200px;
	width: 200px;
	left: auto;
	margin-left: 40px;
	top: 210px;
}
.tprof
{
	position: absolute;
	left: auto;
	margin-left: 260px;
	top: 210px;
}
.eprof
{
	position: absolute;
	left: auto;
	margin-left: 276px;
	top: 260px;
}
.iprof
{
	position: absolute;
	left: auto;
	margin-left: 260px;
	top: 420px;
}
/**Fin profil**/
/**Debut Edit**/
.eedit
{
	position: absolute;
	left: auto;
	margin-left: 260px;
	top: 420px;	
}
/**Fin Edit**/
ul
{
	list-style: none;
}
ul li
{
	padding: 5px 0;
}
#log
{
	
}
@font-face
{
 font-family: HG; 
 src: local('HG'), url("../fonts/HG.ttf") format('truetype'); 
}
body 
{
	font: 16px HG;
	background-color: #4E5869;
	background:url('../images/fond.jpg');
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl 
{
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 2px;
}
a img 
{
	border: none;
}
.container 
{
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	min-height: 1000px;
	background-color: #F6E8B1;
	margin: 0 auto;
}
.content 
{
	padding: 10px 0;
}
.content ul, .content ol 
{ 
	padding: 0 15px 15px 40px;
}
.footer 
{
	padding: 10px 0;
	height: 60px;
	background:url('../images/fond_foot.jpg');
	color: #FFF;
	font-size: 10px;
	text-align: end;
}
.fltrt 
{
	float: right;
	margin-left: 8px;
}
.fltlft 
{
	float: left;
	margin-right: 8px;
}
.clearfloat 
{
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}